
extends layout

block content
  include getarticles

  != page.html
  - var archive = archiveArticles.groupBy(function(item) {
  -   return item.date.getFullYear()
  - }).value()
  - var map = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
  section.archive
    ul

      each year in _.chain(archive).keys().reverse().value()
        li.year= year
        - var months = _.groupBy(archive[year], function(item) { return map[item.date.getMonth()] })
        ul
          each articles, month in months
            li
              strong= month
              table
                thead
                  tr: Posts
                tbody
                   each article in articles
                    tr
                      td
                        a(href=article.url)= article.title
                      td
                        span #{moment(article.date).format("Do MMM")}
                      td
                        span #{moment(article.date).format("HH:MM")}

