extends layout

block content
  include author
  
  //- Iterate the directories in articles and return index.md or nil for each dir
  //- compact dumps the nils and then value gives me copies
  - var dirs = _.chain(contents.articles._.directories).map(function(item) {
  -   return item.index
  - }).compact().value()

  //- Now go and get all of the pages in articles
  - var files = contents['misc']._.pages

  //- get the union and sort by negative date :)
  - var articles  = _(_.union(dirs, files)).sortBy(function(item) { return -item.date
  - })
  
  each article in articles
    article.post
      tags = article.metadata.tags


      header
        br
        span.aut= article.date.toDateString()

        h1
          a(href=article.url)= article.title
        if (tags)
          p.tags
            each t in tags.split(" ")
              span.label.label-info= t
              nbsp

      section.content!= article.intro
      if article.hasMore
        p.read-more
          a(href=article.url) read more
       hr

  a(href='archive.html')#archive Visit the archives!
